@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&family=Work+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    background: #aeddea;
    color: #006377;
    font-size: 130%;
}

/* main heading */

h1, h2 {
    text-align: center;
    font-family: 'Work Sans', sans-serif;
    font-weight: 200;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
    color: #006377;
    margin: 7%;
    font-size: 120%;
}